.alignment-wrapper {
    min-height: calc(100vh - 57px) !important;
}

.object-fit-cover {
    object-fit: cover;
}

.gg {
    background-color: rgb(228, 241, 241);
    min-height: calc(100vh - 57px);
}

.tracking-wide {
    letter-spacing: 0.05rem;
}
